html, body {
    font-family: 'Roboto', 'Arial', sans-serif;
    font-weight: 400;
    font-size: 14px;
    margin: 0;
    padding: 0;
}

.font-sans {
    font-family: 'Roboto', 'Arial', sans-serif;
}

.font-serif {
    font-family: 'Georgia', serif;
}

.font-light {
    font-weight: 300;
}

.font-medium {
    font-weight: 500;
}

.font-bold, b, strong {
    font-weight: 700;
}

.align-center {
    text-align: center;
}

.decoration-none {
    text-decoration: none;
}

/* Colors */
.red {
    color: #e31e24;
}

.bg-red {
    background-color: #e31e24;
}

.lightgreen {
    color: #009846;
}

.bg-lightgreen {
    background-color: #009846;
}

.border-lightgreen {
    border: 3px solid #009846;
}

.green {
    color: #118f3f;
}

.bg-green {
    background-color: #118f3f;
}

.white {
    color: #fff;
}

.black {
    color: #000;
}

/* font sizes */
.size-14 {
    font-size: 14px;
}
.size-16 {
    font-size: 16px;
}
.size-18 {
    font-size: 18px;
}
.size-20 {
    font-size: 20px;
}
.size-22 {
    font-size: 22px;
}
.size-24 {
    font-size: 24px;
}
.size-26 {
    font-size: 26px;
}
.size-28 {
    font-size: 28px;
}
.size-30 {
    font-size: 30px;
}
.size-32 {
    font-size: 32px;
}
.size-36 {
    font-size: 36px;
}
.size-42 {
    font-size: 42px;
}
.size-52 {
    font-size: 52px;
}
.size-70 {
    font-size: 70px;
}

.margin-x40 {
    margin-left: 40px;
    margin-right: 40px;
}

.padding-x25 {
    padding-right: 25px;
    padding-left: 25px;
}

.padding-y15 {
    padding-top: 15px;
    padding-bottom: 15px;
}

.padding-y25 {
    padding-top: 25px;
    padding-bottom: 25px;
}

.padding-y30 {
    padding-top: 30px;
    padding-bottom: 30px;
}

.flex-container {
    display: flex;
}

/* specific elements */

#header-logo {
    padding-top: 30px;
    padding-bottom: 25px;
}

#header-logo>img {
    max-width: 650px;
    width: 650px;
}

#topmenu {
    border: none;
    border-top: 1px solid rgba(148, 148, 148, .3);
    justify-content: center;
}

#topmenu>a {
    display: inline-block;
    padding: 20px;
}

#applications {
    justify-content: space-between;
    padding-right: 10vw;
    padding-left: 10vw;
}

#mission-main {
    position: relative;
}

#mission-title {
    border: 1px solid #000;
    background: #fff;
    position: absolute;
    top: -20px;
    margin-left: -90px;
    display: inline-block;
    width: 180px;
    height: 40px;
    line-height: 40px;
    letter-spacing: 1.5px;
}

#mission-text {
    margin: 45px 10vw;
    padding: 37px 14vw 27px;
    border-style: solid none solid none;
    border-width: 1px;
    border-color: #000;
    line-height: 1.5em;
}

@media screen and (max-width:980px) {
    #header-logo>img {
        width: 100%;
    }

    #topmenu {
        flex-direction: column;
        align-items: center;
    }

    #topmenu>a {
        padding: 10px;
    }

    #applications {
        flex-direction: column;
        align-items: center;
    }

    #applications>a {
        padding-top: 20px;
    }

    #applications>span {
        order: 0;
    }

    #applications>a {
        order: 1;
    }

    #mission-text {
        margin: 40px 5vw;
        padding: 35px 7vw;
    }
}